<p>
<%= link_to 'SPA Login', HisIdp::PKCE.authorize_path(@code_challenge, 'http://localhost:3001/oauth_callback') %> <b>Callback URL:</b> <i>http://localhost:3001/oauth_callback</i>
</p>

<p>
<%= link_to 'App Login', HisIdp::PKCE.authorize_path(@code_challenge, 'pkcetest://oauth_callback') %>  <b>Callback URL:</b> <i>pkcetest://oauth_callback</i>
</p>
